body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
    height: 100%;
    background-color: #f5f5f5;
}

.editor-card {
    margin: 20px auto;
    max-width: 80vw;
}

.toolbar {
    box-shadow: 0 0 5px #cdcdcd;
    margin: 20px auto
}

